@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Rubik:wght@300&display=swap');

@media only screen and (min-width: 768px) {
    body {
        background-image:url() ;
    }
   }

*{
    font-size: 100%;
    
}
header{
    display: flex;
    background-color: black;
    font-family:'Hind Madurai' ;
    align-items: center;
    justify-content: center;
    width: 8em;
    margin-bottom: 0.5em;
}
header h1{
    color: #249FF0;
}
a{
    color: #249FF0;
 
}
footer{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    width: 3em;
    margin-top: 0.5em;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.xml{
    display: flex;
    font-family: 'Rubik'; 
    background-color: black;
    margin: 0.5em;
    border-color: black;
    border-radius: 10px;
    border-style: groove;
}
.xml a{
    color: #F69E30;

}
.json{
    display: flex;
    font-family: 'Rubik'; 
    background-color: black;
    
    margin: 0.5em;
    border-color: black;
    border-radius: 10px;
    border-style: groove;
}
.json a{
    color:#9777AB;
}
.svg{
    display: flex;
    font-family: 'Rubik'; 
    background-color: black;
    margin: 0.5em;
    border-color: black;
    border-radius: 10px;
    border-style: groove;
}
.svg a{
    color:#5153FF;

}
a:hover{
    color: white;
}
.nombre{
    font-weight: bold;
    letter-spacing: 0.1em;
}
